/** */
.welcome-card {
  width: 75%;
}

.mt-10 {
  margin-top: 10px;
}

.mb-15 {
  margin-bottom: 15px;
}

.mb-25 {
  margin-bottom: 25px;
}

.mb-2 {
  margin-bottom: 2px;
}

.icons {
  width: 40px;
  margin-left: 15px;
  margin-right: 15px;
}
