<h1 mat-dialog-title>
  <mat-icon color="accent">info</mat-icon>&nbsp;&nbsp;About:
</h1>
<div mat-dialog-content>
  <div fxLayout="column" fxLayoutAlign="center center" class="mt-10">
    <h2>Develop with Angular 14</h2>
    <h3>Deploy on Microsoft Azure</h3>
  </div>
</div>
<div>
  <h2>Libraries used:</h2>
  <li>Angular Material</li>
  <li>Redux Store</li>
  <li>Redux Toolkit</li>
  <li>Flex Layout</li>
  <li>Ngrx Store</li>
  <li>Ngrx Effects</li>
  <li>Ngx Mask</li>
</div>
<br />
<div>
  Main compression methods route: app/shared/services/compression.service.ts
</div>
